
{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block tweets %}
{% for tweet in tweets %}
<div class="innerbox align-middle">
    <p class="handle">
        <strong><a class="name-link" href="/tweets/user?id={{ users[tweet.u_id].id }}">{{ users[tweet.u_id].fname }} {{ users[tweet.u_id].lname }}</a> </strong>
        <span class="text-muted">@{{ users[tweet.u_id].handle }} · {{ tweet.ago }}</span>
    </p>
    <p>
    {{ tweet.text | striptags(true) | escape | nl2br }}
    </p>
</div>
{% else %}
<div class="innerbox align-middle text-center">
    <p>No tweets!</p>
</div>
{% endfor %}
{% endblock %}
