<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Twitterc</title>
    <!-- Latest compiled and minified Boostrap CSS + dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <!-- App stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
    <body>
        
        <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
            <a class="navbar-brand" href="/">TwitterC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link mx-1" href="/">My Tweets</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link mx-1" href="/">Logout</a>
                        </li>
                </ul>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Tweet</button>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row justify-content-center no-gutters">
                <div class="panel col-md-3 text-center">
                    <div class="box-top">
                        <div id="control-box">
                            <h3>@handle</h3>
                            <button type="button" class="btn btn-primary my-2">Tweet</button>
                            <hr>
                            <p><a class="panel-link" href="/">My tweets</a></p>
                            <p><a class="panel-link" href="/">All tweets</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
                <div class="panel col-md-7">
                    {% if user %}
                        <div class="text-center">
                            <h4>hi</h4>
                            <p>here's some user info</p>
                        </div>
                    {% endif %}
                    {% block tweets %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
