{% extends "layout.html" %}

{% block title %}
{{ user.handle }}
{% endblock %}

{% block tweets %}
{% for tweet in tweets %}
<div class="innerbox align-middle">
    <p class="handle">
        <strong><a class="name-link" href="/user?id={{ user.id }}">{{ user.fname }} {{ user.lname }}</a> </strong>
        <span class="text-muted">@{{ user.handle }} · {{ tweet.ago }}</span>
    </p>
    <p>{{ tweet.text | striptags(true) | escape | nl2br }}</p>
</div>
{% else %}
<div class="innerbox align-middle text-center">
    <p>No tweets!</p>
</div>
{% endfor %}
{% endblock %}
