{% extends "layout.html" %}

{% block title %}
{{ movie.title }}
{% endblock %}

{% block content %}
<div class="col-sm-8">
    <div class="panel">
        <h1>{{ movie.title }}</h1>
        <hr>
        <h6 class="score">{{ avg }} ★</h6>
        <div><strong>Released:</strong> {{ movie.year }}</div>
        <div><strong>Director:</strong> <a href="/director?id={{ movie.director.did }}">{{ movie.director.name }}</a></div>
    </div>
</div>
<table class="table table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">User</th>
            <th scope="col">Rating</th>
            <th scope="col">Review</th>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td><a href="/users?id={{ review.reviewer.uid }}">{{ review.reviewer.username }}</a></td>
            <td>{{ review.stars }}</td>
            <td>{{ review.comment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}