<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello</title>
        <!-- Latest compiled and minified Boostrap CSS + dependencies -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <!-- App stylesheets -->
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
      <p id="yep">hi</p>
    </body>
    <div class="row">
        <div class="col-6">ok</div>
        <div class="col-6">fine</div>
    </div>
</html>
