<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - Movietown!</title>
        <!-- Latest compiled and minified Boostrap CSS + dependencies -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <!-- App stylesheets -->
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
            <div class="container justify-content-center">
                <a id="brand" class="navbar-brand" href="/">Movietown!</a>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center no-gutters">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>

