body {
  background-color: grey;
}

.hi {
  background-color: white;
  text-align: center;
}

nav {
  margin-bottom: 2em;
  text-align: center;
}

.table {
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.white {
  color: white;
}

a, .mint, #brand {
  color: mediumaquamarine;
}

.panel {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2em;
  background-color: #E9ECEF;
  text-align: center;
  margin-bottom: 2em;
}

.movie-btn {
  color: white;
  background-color: mediumaquamarine;
  border-color: mediumaquamarine;
}

.add-btn {
  margin-top: 1em;
}