/* Global styles */
body {
  background-color: grey;
}

nav {
  margin-bottom: 1em;
  text-align: center;
}

.modal-container {
  margin-top: 5%;
}

.table {
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.white {
  color: white;
}

.mint, #brand {
  color: #6accab;
}

.panel {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2em;
  background-color: #E9ECEF;
  text-align: center;
  margin-bottom: 2em;
}

.movie-btn {
  color: white;
  background-color: #6accab;
  border-color: #6accab;
}

.add-btn {
  margin-top: 1em;
}