body {
  background-color: #e6ecf0;
}

nav {
  margin-bottom: .5em;
}

.panel {
  margin: 1em;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

.innerbox, #control-box {
  background-color: white;
  padding: 0.75em;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}

.innerbox, #control-box {
  padding: 0.75em;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}

.handle {
  margin: 0;
}

