body {
  background-color: #E9F5FD;
}

nav {
  margin-bottom: .5em;
}

.box-top {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
}

.panel {
  margin: 1em;
}

.innerbox, #control-box {
  background-color: white;
  padding: 1em;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}

.handle {
  margin: 0;
}

#user-prof {
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 2em;
}

